<!--&lt;!&ndash; Vue.js 프론트엔드 코드 &ndash;&gt;-->
<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <title>Websocket ChatRoom</title>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
<!--    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/dist/css/bootstrap.min.css">-->
<!--    <style>-->
<!--        [v-cloak] {-->
<!--            display: none;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container" id="app" v-cloak>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6">-->
<!--            <h4>{{ roomName }} <span class="badge badge-info badge-pill">{{ userCount }}</span></h4>-->
<!--        </div>-->
<!--        <div class="col-md-6 text-right">-->
<!--            <a class="btn btn-primary btn-sm" href="/logout">로그아웃</a>-->
<!--            <a class="btn btn-info btn-sm" href="/chat/room">채팅방 나가기</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="input-group">-->
<!--        <div class="input-group-prepend">-->
<!--            <label class="input-group-text">내용</label>-->
<!--        </div>-->
<!--        <input type="text" class="form-control" v-model="message" v-on:keypress.enter="sendMessage('TALK')">-->
<!--        <div class="input-group-append">-->
<!--            <button class="btn btn-primary" type="button" @click="sendMessage('TALK')">보내기</button>-->
<!--        </div>-->
<!--    </div>-->
<!--    <ul class="list-group">-->
<!--        <li class="list-group-item" v-for="message in messages">-->
<!--            {{ message.sender }} - {{ message.message }}-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->
<!--<script src="/webjars/vue/2.6.14/dist/vue.min.js"></script>-->
<!--<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>-->
<!--<script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>-->
<!--<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>-->
<!--<script>-->
<!--    var sock = new SockJS("/ws-stomp");-->
<!--    var ws = Stomp.over(sock);-->
<!--    var reconnect = 0;-->

<!--    var vm = new Vue({-->
<!--        el: '#app',-->
<!--        data: {-->
<!--            roomId: '',-->
<!--            roomName: '',-->
<!--            message: '',-->
<!--            messages: [],-->
<!--            sender: '',-->
<!--            userCount: 0,-->
<!--            hasJoined: false // 추가된 변수-->
<!--        },-->
<!--        created() {-->
<!--            this.roomId = localStorage.getItem('wschat.roomId');-->
<!--            this.roomName = localStorage.getItem('wschat.roomName');-->
<!--            this.fetchCurrentUser();-->
<!--            this.findRoom();-->
<!--            connect();-->
<!--        },-->
<!--        methods: {-->
<!--            fetchCurrentUser: function() {-->
<!--                axios.get('/api/users/me').then(response => {-->
<!--                    this.sender = response.data.nickname; // 유저 닉네임을 가져옴-->
<!--                    localStorage.setItem('wschat.sender', this.sender);-->
<!--                }).catch(error => {-->
<!--                    console.error("Could not fetch user info:", error);-->
<!--                });-->
<!--            },-->
<!--            findRoom: function() {-->
<!--                axios.get('/chat/room/' + this.roomId).then(response => {-->
<!--                    this.room = response.data;-->
<!--                    this.userCount = this.room.userCount;-->
<!--                });-->
<!--            },-->
<!--            sendMessage: function(type) {-->
<!--                if (this.message.trim() === '') return;-->
<!--                ws.send("/pub/chat/message", {}, JSON.stringify({-->
<!--                    type: type,-->
<!--                    roomId: this.roomId,-->
<!--                    sender: this.sender,-->
<!--                    message: this.message-->
<!--                }));-->
<!--                this.message = '';-->
<!--            },-->
<!--            recvMessage: function(recv) {-->
<!--                this.userCount = recv.userCount;-->
<!--                this.messages.unshift({ "type": recv.type, "sender": recv.sender, "message": recv.message });-->
<!--            }-->
<!--        }-->
<!--    });-->


<!--    function connect() {-->
<!--        ws.connect({}, function(frame) {-->
<!--            ws.subscribe("/sub/chat/room/" + vm.roomId, function(message) {-->
<!--                var recv = JSON.parse(message.body);-->
<!--                vm.recvMessage(recv);-->
<!--            });-->
<!--            if (!vm.hasJoined) {  // 중복 메시지 방지-->
<!--                ws.send("/pub/chat/message", {}, JSON.stringify({-->
<!--                    type: 'JOIN',-->
<!--                    roomId: vm.roomId,-->
<!--                    sender: vm.sender-->
<!--                }));-->
<!--                vm.hasJoined = true;-->
<!--            }-->
<!--        }, function(error) {-->
<!--            if (reconnect++ <= 5) {-->
<!--                setTimeout(function() {-->
<!--                    console.log("connection reconnect");-->
<!--                    sock = new SockJS("/ws-stomp");-->
<!--                    ws = Stomp.over(sock);-->
<!--                    connect();-->
<!--                }, 10 * 1000);-->
<!--            }-->
<!--        });-->
<!--    }-->


<!--    connect();-->
<!--</script>-->
<!--</body>-->
<!--</html>-->