<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>User Main</title>-->
<!--    <script>-->
<!--        async function checkUserRole() {-->
<!--            const response = await fetch('/api/users/me');-->
<!--            if (!response.ok) {-->
<!--                location.href = '/';-->
<!--                return;-->
<!--            }-->

<!--            const user = await response.json();-->
<!--            if (user.role !== 'USER') {-->
<!--                location.href = '/';-->
<!--            }-->
<!--        }-->

<!--        document.addEventListener('DOMContentLoaded', checkUserRole);-->
<!--    </script>-->
<!--</head>-->
<!--<body>-->
<!--<h1>유저 메인</h1>-->
<!--<a href="/my_page">마이페이지</a>-->
<!--</body>-->
<!--</html>-->
